body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height:5 rem;
    background-color: white;
}

.fa-cloud {
    color: rgb(220, 59, 108);
    font-size: 2rem;
}

.nav-link{
    color: #111111 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.f-info{
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* cards */
.card-listing{
    border: none !important;
    margin: auto;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;    
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Show Image */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.btn:hover{
    background-color: rgb(220, 59, 108) !important;
}